{% extends "base.html" %}

{% block content %}
  <div class="app-container">
    <div id="map-container"></div>
  
    <div class="results-list"></div>
  </div>

  <!-- Modal intial explaining -->
  <div class="inital-explanantion-modal modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Can Opener</h4>
    </div>
    
    <div class="modal-body">
      <p>Welcome to Can Opener, a small application that <strong>explores the (controversial) license plate tracking data in Minneapolis, MN</strong>.</p>
      
      <p>This application's main goal is to provide context to a controversial dataset and to aid in intelligent conversation about this and other datasets.</p>
    </div>
    
    <div class="modal-footer">
      <form class="form-inline license-plate-query-form">
        <input type="text"  placeholder="Enter license plate" class="input-xlarge license-plate-query">
        <button type="submit" class="btn btn-primary license-plate-query-submit">Search</button>
      </form>
    </div>
  </div>
  
  <!-- Client side tempaltes -->
  <script id="template-marker-popup" type="text/template">
    <div class="license-marker-popup-container">
      License plate <strong><%= d.plate %></strong> tracked on <strong><%= d.date.format('MMM Do, YYYY [at] h:mm A') %></strong> by reader <em><%= d.reader %></em>.
    </div>
  </script>
  
  <script id="template-records-list" type="text/template">
    <div class="license-records-container">
      <h4>Found <%= records.length %> records</h4>
      
      <% if (records.length > 0) { %>
        <table class="table table-striped">
          <thead>
            <tr><th>Date</th><th>Reader</th><th>Lat</th><th>Lon</th></tr>
          </thead>
          <tbody>
            <% for (r in records) { %>
              <tr>
                <td><%= records[r].date.format('lll') %></td>
                <td><%= records[r].reader %></td>
                <td><%= records[r].lat %></td>
                <td><%= records[r].lon %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        
        <p class="note">Do note that records with no location and no reader mean that the <br /> data was redacted and implies an event with a stationary camera.</p>
      <% } %>
    </div>
  </script>

{% endblock content %}

{% block inline_js %}
{% endblock inline_js %}
