{% extends "base.html" %}

{% block content %}
  <div class="app-container">
    <div id="map-container">
    </div>
      
    <div class="results-list"></div>
    
    <div class="search-box-container">
      <div class="search-box">
        <form class="form-inline license-plate-query-form">
          <input type="text"  placeholder="Enter license plate" class="input-xlarge license-plate-query">
          <button type="submit" class="btn btn-primary license-plate-query-submit">Search</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal intial explaining -->
  <div class="inital-explanantion-modal modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Can Opener</h4>
    </div>
    
    <div class="modal-body">
      <p>Welcome to Can Opener, a small application that <strong>explores the (controversial) license plate tracking data in Minneapolis, MN</strong>.</p>
      
      <p>This application's main goal is to provide context to a controversial dataset and to aid in intelligent conversation about this and other datasets.  It is not meant to be commentary on the value or privacy concerns of the data.</p>
      
      <hr />
      
      <p>The data was legally obtained from the Minneapolis Police Department on Dec 11, 2012.  The data contains records from Aug 30, 2012 through Nov 29, 2012.</p>
      
      <p>There is currently state legislation being <a href="https://www.revisor.mn.gov/bills/bill.php?b=Senate&f=SF0210&ssn=0&y=2013" target="_blank">proposed</a> to reform the restrictions on this data.</p>
      
      <p>Though the dataset is from a slightly different time, <a href="http://datalyticscience.com/?page_id=163" target="_blank">Datalytics Science did an excellent in-depth analysis of this data</a>.
      
      <hr />
      
      <p>Feel free to <a href="http://zzolo.org/contact" target="_blank">contact me</a> if you have any questions or comments.  Also note that this application has costs for hosting so it will not remain up indefinitely.</p>
    </div>
    
    <div class="modal-footer">
      <form class="form-inline license-plate-query-form">
        <input type="text" placeholder="Enter license plate" class="input-xlarge license-plate-query">
        <button type="submit" class="btn btn-primary license-plate-query-submit">Search</button>
      </form>
    </div>
  </div>
  
  <!-- Client side tempaltes -->
  <script id="template-attribution" type="text/template">
    <a href="#" class="about-site">About</a> this site.  Get <a href="https://github.com/zzolo/can-opener" target="_blank">code and data</a>.  Mapbox <a href="http://mapbox.com/about/maps" target="_blank">Terms &amp; Feedback</a>.
  </script>
  
  <script id="template-loading" type="text/template">
    <div class="license-records-container">
      Loading data...
    </div>
  </script>
  
  <script id="template-no-results" type="text/template">
    <div class="license-records-container">
      <p><strong>No data found<% if (plate) { %> for <%= plate %><% } %>.</strong></p>
    </div>
  </script>
  
  <script id="template-marker-popup" type="text/template">
    <div class="license-marker-popup-container">
      License plate <strong><%= d.plate %></strong> tracked <br />
      on <strong><%= d.date.format('MMM Do, YYYY [at] h:mm A') %></strong> <br />
      by reader <em><%= d.reader %></em>.
    </div>
  </script>
  
  <script id="template-records-list" type="text/template">
    <div class="license-records-container">
      <h4>Found <%= records.length %><% if (records.length == 500) { %>+<% } %> records for <%= records[0].plate %></h4>
      
      <% if (records.length > 0) { %>
        <table class="table table-striped">
          <thead>
            <tr><th>Date</th><th>Reader</th><th>Lat</th><th>Lon</th></tr>
          </thead>
          <tbody>
            <% for (r in records) { %>
              <tr>
                <td><%= records[r].date.format('lll') %></td>
                <td><%= records[r].reader %></td>
                <td><%= records[r].lat %></td>
                <td><%= records[r].lon %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        
        <p class="note">Do note that records with no location and no reader mean that the <br /> data was redacted and implies an event with a stationary camera. <% if (records.length == 500) { %> <br /> More than 500 results found <% } %></p>
      <% } %>
    </div>
  </script>

{% endblock content %}

{% block inline_js %}
{% endblock inline_js %}
