{% extends "base.html" %}

{% block content %}
  <div class="app-container">
    <div id="map-container"></div>
  
  </div>

  <!-- Modal intial explaining -->
  <div class="inital-explanantion-modal modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Can Opener</h4>
    </div>
    
    <div class="modal-body">
      <p>Welcome to Can Opener, a small application that <strong>explores the (controversial) license plate tracking data in Minneapolis, MN</strong>.</p>
      
      <p>This application's main goal is to provide context to a controversial dataset and to aid in intelligent conversation about this and other datasets.</p>
    </div>
    
    <div class="modal-footer">
      <form class="form-inline">
        
        <input type="text"  placeholder="Enter license plate" class="input-xlarge license-plate-query">
        <button type="submit" class="btn btn-primary license-plate-query-submit">Search</button>
      </form>
    </div>
  </div>

{% endblock content %}

{% block inline_js %}
{% endblock inline_js %}
